body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: linear-gradient(to right, #f6d365 0%, #fda085 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: #4CAF50;
  color: black;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #4CAF50;
  border-radius: 3px;
}

button:hover {
  background: lightblue;
  color: slateblue;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #8BC34A;
  border-radius: 3px;
  cursor: pointer;
}


/* styles for different feedback buttons */

.good {
  background: #4CAF50;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #4CAF50;
  border-radius: 3px;
}
.bad {
  background: #F44336;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #F44336;
  border-radius: 3px;
}
.neutral {
  background: #FFEB3B;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #FFEB3B;
  border-radius: 3px;
}

h1 {
  background-color: maroon;
  /* background: linear-gradient(to right, #f6d365 0%, #fda085 100%); */
  color: white;
  padding: 1em;
  text-align: center;
  margin: auto;
}

p {
  text-align: center;
  font-size: 1.5em;
  color: white;
  
}

.stats {
 padding-top: 100px;
}

.buttondiv {
  text-align: center;
  margin: 10vh auto;
  background-color: palegoldenrod;
  width: 30%;
  border: 2px solid #4CAF50;
  border-radius: 6px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);

  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
/* Mouseover tilt for .buttondiv */
.buttondiv:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out; 
  transform-origin: ;
}


/* table styles */

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  color: white;
  
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background: linear-gradient(to left, #f6d365 0%, #fda085 100%);}

th {
  background-color: #4CAF50;
  color: white;
}

